/* *{border: 1px solid pink;} */
html{
    background-image: url(0xUniverse.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    opacity: 0.88;
    font-family: monospace;

}
a{
    text-decoration: none;
    color: inherit;

}
/* h4 {
    font-size: 80%;
} */
.container{
    display: flex;
    margin: auto;

}
.large{
    background-color: #111;
    color: snow;
    display: flex;
    font-size: 1em;

}
.large-content{
    padding: 1em;

}
.small{
    display: flex;
    flex-direction: column;

}
.small-content{
    display: flex;
    text-align: center;
    color: #111;
    background-color: snow;
    font-size: 1em;

}
.quote{
    margin: auto;
    padding: .2em;

}
.quote-author { font-size: 80% !important;  }
.small-footer{
    display: flex;

}
.about{
    background-color: #111;
    color: crimson;
    display: flex;

}
.me{
    margin: auto;
    
}
.fa-github{
    color: snow;

}




@media all and (orientation: landscape){
    /* .container{flex-direction: row-reverse;} */
    .large{
        min-height: 61.8vh;
        max-height: 61.8vh;
        min-width: 61.8vh;
        max-width: 61.8vh;
        align-items: flex-end;
    }
    .small{
        min-width: 38.2vh;
        max-width: 38.2vh;
        min-height: 61.8vh;
        max-height: 61.8vh;
        border-top-left-radius: 1%;
        border-bottom-left-radius: 1%;
    }
    .small-content{
        min-width: 38.2vh;
        max-width: 38.2vh;
        min-height: 38.2vh;
        max-height: 38.2vh;
    }
    .small-footer{
        min-width: 38.2vh;
        max-width: 38.2vh;
        min-height: 23.61vh;
        max-height: 23.61vh;
        flex-direction: row-reverse;
    }
    .about{
        min-width: 23.61vh;
        max-width: 23.61vh;
        min-height: 23.61vh;
        max-height: 23.61vh;
        align-items: flex-end;
    }

}




@media all and (orientation: portrait){
    .container{flex-direction: column-reverse;}
    .large{
        min-height: 61.8vw;
        max-height: 61.8vw;
        min-width: 61.8vw;
        max-width: 61.8vw;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .small{
        min-width: 61.8vw;
        max-width: 61.8vw;
        min-height: 38.2vw;
        max-height: 38.2vw;
        border-top-left-radius: 1%;
        border-top-right-radius: 1%;
        flex-direction: row;
    }
    .small-content{
        min-width: 38.2vw;
        max-width: 38.2vw;
        min-height: 38.2vw;
        max-height: 38.2vw;
        align-items: flex-end;
    }
    .small-footer{
        min-width: 23.61vw;
        max-width: 23.61vw;
        min-height: 38.2vw;
        max-height: 38.2vw;
        flex-direction: column;
    }
    .about{
        min-width: 23.61vw;
        max-width: 23.61vw;
        min-height: 23.61vw;
        max-height: 23.61vw;
    }
    
}