/* *{
    border: 1px solid pink;
} */
html{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family: monospace;
    opacity: .88;

}
.container{ /* all content */
    margin: auto;
    display: flex;

}
.smaller-div{
    background-color: snow;

}
.youCanKindly{
    padding: 1em;
    font-size: 80%;
    
}
.back{
    font-size: 2em;
    display: flex;
    height: auto;
    /* margin: .5em; */
    /* border: 1px solid red; */

}
.back a{
    text-decoration: none;
    color: darkgreen;
    margin: auto;

}
.larger-div{
    display: flex;
    flex-direction: column;
    background-color: #111;
    text-align: center;
    overflow: hidden scroll;
    justify-content: center;

}
.form-div{
    margin: auto;
    z-index: 1;

}
form{
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1em;
    color: #2E8B57;
    z-index: 1;
    top: 0;

}
.form_part{
    margin: .5em;
    display: flex;
    flex-direction: column;

}
.form_part *{
    margin: .5em;

}
::placeholder{
    color: #111;

}
input{
    margin: auto;
    border: none;
    background-color: green;
    height: 1.5em;

}
input[type=submit]{
    border: 1px solid black;
    border-radius: 2;
    height: 3em;
    width: 8em;
    margin: auto;
    font-size: .7em;
    font-weight: 600;
    color: #111;
    
}




@media all and (orientation: landscape){
    .smaller-div{
        min-width: 38.2vh;
        max-width: 38.2vh;
        min-height: 61.8vh;
        max-height: 61.8vh;
        border-top-left-radius: 1%;
        border-bottom-left-radius: 1%;
    }
    .larger-div{
        min-height: 61.8vh;
        max-height: 61.8vh;
        min-width: 61.8vh;
        max-width: 61.8vh;
    }
}

@media all and (orientation: portrait){
    .container{
        flex-direction: column;
    }
    .smaller-div{
        min-width: 61.8vw;
        max-width: 61.8vw;
        min-height: 38.2vw;
        max-height: 38.2vw;
        border-top-left-radius: 1%;
        border-top-right-radius: 1%;
    }
    .larger-div{
        min-height: 61.8vw;
        max-height: 61.8vw;
        min-width: 61.8vw;
        max-width: 61.8vw;
    }
}
