/* *{
    border: 1px solid pink;
} */
html{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family: monospace;
    opacity: .88;
    /* background-color: royalblue; */
    /* background: rgb(17,17,17);
    background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(65,105,225,1) 27%, rgba(65,105,225,1) 100%);
    */

}
.container{ /* all content */
    margin: auto;
    display: flex;

}
.smaller-div{
    background-color: snow;

}
.youCanKindly{
    padding: 1em;
    
}
.back{
    font-size: 250%;
    display: flex;
    height: auto;
    /* padding: 1em; */

}
.back a{
    text-decoration: none;
    color: darkgreen;
    margin: auto;

}
.larger-div{
    display: flex;
    background-color: #111;
    text-align: center;
    overflow: hidden scroll;
    justify-content: center;

}
input{
    border: none;
    background-color: green;
    height: 1.5em;

}
::placeholder{
    color: #111;

}



/* .form-div{
    max-width: 60%;
} */
form{
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 180%;
    /* color: forestgreen; */
    color: #2E8B57;
    /* max-width: 58%; */
    /* margin-top: 2em; */
    /* border: 1px dotted crimson; */

}
.form_part{
    margin: .5em;
    display: flex;
    flex-direction: column;

}
.form_part *{
    margin: .5em;

}
input[type=submit]{
    border: 1px solid black;
    border-radius: 2;
    height: 3em;
    width: 8em;
    margin: auto;
    font-size: 42%;
    font-weight: 800;
    color: #111;
    
}




@media all and (orientation: landscape){
    .smaller-div{
        min-width: 38.2vh;
        max-width: 38.2vh;
        min-height: 61.8vh;
        max-height: 61.8vh;
        border-top-left-radius: 1%;
        border-bottom-left-radius: 1%;
    }
    .larger-div{
        min-height: 61.8vh;
        max-height: 61.8vh;
        min-width: 61.8vh;
        max-width: 61.8vh;
    }
}

@media all and (orientation: portrait){
    .container{
        flex-direction: column;
    }
    .smaller-div{
        min-width: 61.8vw;
        max-width: 61.8vw;
        min-height: 38.2vw;
        max-height: 38.2vw;
        border-top-left-radius: 1%;
        border-top-right-radius: 1%;
    }
    .larger-div{
        min-height: 61.8vw;
        max-height: 61.8vw;
        min-width: 61.8vw;
        max-width: 61.8vw;
    }
}
